{% extends 'base.html' %}
{% block body %}
    <div class="container my-4 text-center">
        <h1 class="my-3 text-center">TOP PLACES IN DELHI</h1>
    </div>    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="d-flex position-relative">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Akshardham_Temple.jpg/640px-Akshardham_Temple.jpg" class="flex-shrink-0 me-3" alt="...">
                <div>
                <h2 class="mt-0">Akshardham Tempel,Delhi </h2>
                <p>Akshardham Temple, or the Swaminarayan Akshardham complex, in Delhi is a quintessential Hindu shrine epitomizing Indian culture, architecture, and spirituality. The exquisite temple is dedicated to Swaminarayan, an Indian yogi and spiritual soul who existed during the 18th century. Touted as the world’s largest comprehensive Hindu temple by the Guinness World Record, Delhi’s Akshardham is known for its aesthetic beauty, unique exhibitions, sprawling campus, and tranquillity. No wonder, Akshardham counts among the top tourist attractions to explore once you step out of your hotels in Delhi for a sightseeing trip.</p>
                </div>

            </div>
    </div>

        <h3 class="bg-dark text-light text-center container-fluid my-4">Informaton</h3>
        <table class="table table-bordered border-black">

            <tbody>

                <tr>        
                <td><b>Location</b></td>
                <td>NH 24, Akshardham Setu</td>
                </tr>
                        
                <tr> 
                <td><b>Type</b></td>
                <td>Hindu Tempel/tr>

                    <tr>
                        <td><b>Also Known As</b></td>
                        <td>Swaminarayan Akshardham</td>
                    </tr>

                    <tr>        
                        <td><b>Tempel Enter Timing</b></td>
                        <td>9:30 am to 8:00 pm; closed on Mondays </td>
                    </tr>

                    <tr>        
                        <td><b>Entry In Tempel</b></td>
                        <td>Free</td>
                    </tr>

                    <tr>        
                        <td><b>Mobiles or Electronics</b></td>
                        <td>Not Allowed</td>
                    </tr>
                    

            </tbody>
        </table>

        <div class="d-flex position-relative">
            <img src="https://static.trip101.com/paragraph_media/pictures/001/814/237/large/travel-4813658_1280.jpg?1582537711" class="flex-shrink-0 me-3" alt="...">
            <div>
            <h2 class="mt-0">India Gate,Delhi </h2>
            <p>At the centre of New Delhi stands the 42 m high India Gate, an "Arc-de-Triomphe" like archway in the middle of a crossroad. Almost similar to its French counterpart, it commemorates the 70,000 Indian soldiers who lost their lives fighting for the British Army during the World War I. The memorial bears the names of more than 13,516 British and Indian soldiers killed in the Northwestern Frontier in the Afghan war of 1919.
            </p>

            </div>
        </div> 
        
        <h3 class="bg-dark text-light text-center container-fluid my-4">Informaton</h3>
        <table class="table table-bordered border-black">

        
            <tbody>
                <tr>        
                    <td><b>Location</b></td>
                    <td>Near Rajpath</td>
                </tr>
            
                <tr> 
                    <td><b>Metro Station</b></td>
                    <td>Pragati Maidan</td>
                </tr>

                <tr>        
                    <td><b>Photography Charges</b></td>
                    <td>Free</td>
                </tr>

                <tr>        
                    <td><b>Timing</b></td>
                    <td>Morning To Night </td>
                </tr>

                <tr>        
                    <td><b>Entry</b></td>
                    <td>Free</td>
                </tr>

                <tr>        
                    <td><b>Days closed</b></td>
                    <td>None</td>
                </tr>
        

            </tbody>
        </table>




 
{% endblock body  %}