{% extends 'base.html'%}
{% block title %}Top Places{% endblock title %}
{% block body %}
<div class="container my-4">
    <h1 class="my-3 text-center text-danger">Top Places To Visit</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a href="/delhi" target="_blanck">
              <img src="https://source.unsplash.com/random/900x900/? India Gate,Red Fort" class="d-block h-60 w-100" alt="...">
            </a>
           <div class="card-body">
              <p class="card-text"><B>Delhi</B></p>
              
            </div>
          </div>
        </div>


        <div class="col">
            <div class="card shadow-sm">
              <a href="/vrindavan" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? Prem Mandir" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Vrindavan</B></p>
                
              </div>
            </div>
          </div>


          <div class="col">
            <div class="card shadow-sm">
              <a href="/vaishnodevi" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? vaishno devi" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Vaishno Devi</B></p>
                
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="/agra" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? Taj Mahal" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Agra</B></p>
                
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="/mumbai" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? Mumbai" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Mumbai</B></p>
                
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="/goa" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? Goa" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Goa</B></p>
                
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="/jaishlmair" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? Jaisalmer" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Jaisalmer</B></p>
                
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="/jaipur" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? Jaipur Fort" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Jaipur</B></p>
                
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <a href="/himachal" target="_blanck">
                <img src="https://source.unsplash.com/random/900x900/? Mountains of Himachal" class="d-block h-60 w-100" alt="...">
              </a>
             <div class="card-body">
                <p class="card-text"><B>Himachal</B></p>
                
              </div>
            </div>
          </div>
    </div>   
{% endblock body %}
